[submodule "tmux/dot-tmux/plugins/tpm"]
	path = tmux/dot-tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "nvim/dot-config/nvim"]
	path = nvim/dot-config/nvim
	url = git@github.com:valerius21/kickstart.nvim.git
